<div class="d-flex justify-content-between align-items-start">
	<h3 class="font-text fw-bold"><%= message %></h3>
	<div class="d-flex justify-content-end align-items-center">
		<div class="d-flex flex-column align-items-end me-3">
			<span class="fw-bold"><%= user.fullname %></span>
			<span class="text-muted"><%= user.email %></span>
		</div>
		<div
			class="rounded-circle bg-gray dropdown"
			id="avatar"
			data-bs-toggle="dropdown"
			aria-expanded="false"
			style="background-image: url('<%= user.image %>')"></div>
		<ul class="dropdown-menu mt-3" aria-labelledby="avatar">
			<li><a class="dropdown-item" href="/user/profile">Profile</a></li>
			<li>
				<form id="logoutForm">
					<button class="dropdown-item" type="submit">Logout</button>
				</form>
			</li>
		</ul>
	</div>
</div>

<script>
	const logout = document.getElementById('logoutForm');
	logout.addEventListener('submit', (e) => {
		e.preventDefault();

		fetch('/api/logout', {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json',
			},
		})
			.then((res) => {
				if (res.status === 200) window.location.href = '/';
			})
			.catch((err) => console.log(err));
	});
</script>
