<div class="col-12 col-lg-2 bg-signme px-3">
	<a href="/" class="fw-semibold fs-5 py-4 text-center d-block text-white text-decoration-none"> SignMe. </a>

	<nav class="nav flex-column mt-5">
		<a class="nav-link text-white d-flex align-items-center" href="/dashboard">
			<span class="material-symbols-rounded bg-white text-signme p-2 rounded-3 me-3"> mail </span>
			Dashboard
		</a>
		<a class="nav-link text-white d-flex align-items-center" href="/documents">
			<span class="material-symbols-rounded bg-white text-signme p-2 rounded-3 me-3"> article </span>
			Documents
		</a>
		<a class="nav-link text-white d-flex align-items-center" href="/requests/outbox">
			<span class="material-symbols-rounded bg-white text-signme p-2 rounded-3 me-3"> forward_to_inbox </span>
			Outbox
		</a>
		<a class="nav-link text-white d-flex align-items-center" href="/inbox">
			<span class="material-symbols-rounded bg-white text-signme p-2 rounded-3 me-3"> signature </span>
			Inbox
		</a>
	</nav>
</div>
